body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: cyan;
    background-color: #D2E7F5;
    justify-content: center;
    background-image: url('../styles/images/background-3.jpg');
}

.header {
   display: flex;
   justify-content: center;
   font-size: 25px;
}

.button-1 {
    display: flex;
    justify-content: center;
}

.play-button {
    border: 2px solid white;
    padding: 15px 50px 15px 50px;
    background-color: chartreuse;
    cursor: pointer;
}

.play-button:hover {
    background-color: darkgreen;
    border: 2px solid gray;
    cursor: pointer;
}

.score {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: white solid 4px;
}

.grid div {
    width: 20px;
    height: 20px;
}

.grid-container {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.next-piece-display {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    border: white solid 4px;
    margin-left: 50px;
}

.next-piece-display div {
    width: 20px;
    height: 20px;
}

.button-2 {
    display: flex;
    justify-content: center;
}

.reset-button {
    border: 2px solid white;
    padding: 15px 30px 15px 30px;
    background-color: red;
    cursor: pointer;
}

.reset-button:hover {
    background-color: maroon;
    border: 2px solid gray;
    cursor: pointer;
}

.tetromino {
    background-color: red;
}